{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="mb-4 mt-5 text-center">MY BASKET(
                {% if product_count %}
                    {{ product_count|floatformat:0 }}
                {% else %}
                    0
                {% endif %})
            </h2>
            <hr>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-7 col-lg-8 col-xxl-4">
            {% if bag_items %}
                <div class="table-responsive rounded mx-auto">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>

                        {% for item in bag_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    {% if item.product.image %}
                                    <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                    {% else %}
                                    <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                    {% endif %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                    <p class="my-0"><strong>Size: </strong>{% if item.product.sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                                    <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">${{ item.product.price }}</p>
                                </td>
                                <div class="d-flex justify-content-center">
                                    <tr>
                                        <th scope="col">Qty</th>
                                        <th scope="col">Subtotal</th>
                                    </tr>
                                </div>
                                <td class="py-3 w-25">
                                    <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-minus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="10"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="id_qty_{{ item.item_id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                        data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-plus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                {% if item.product.sizes %}
                                                    <input type="hidden" name="product_size" value="{{ item.size }}">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-link update_icon float-none">
                                        <i class="fas fa-sync-alt fa-lg icon mt-3 px-3"></i>
                                    </a>
                                    <a class="remove-item remove_icon float-none" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}">
                                        <i class="far fa-trash-alt fa-lg icon"></i>
                                    </a>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-center">
                                <h6><strong>SUBTOTAL: ${{ total|floatformat:2 }}</strong></h6>
                                <h6>SHIPPING & HANDLING: FREE</h6>
                                <h4 class="mt-4"><strong> TOTAL: ${{ grand_total|floatformat:2 }}</strong></h4>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-center">
                                <a href="{% url 'checkout' %}" class="primary_btn btn btn-lg rounded-0 btn-lg">
                                    <span>SECURE CHECKOUT</span>
                                </a>
                                <a href="{% url 'products' %}" class="btn secondary_btn rounded-0 btn-lg">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span>KEEP SHOPPING</span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <h4 class="lead mb-5 text-center">Your bag is empty.</h4>
                <img class="img-fluid rounded" src="{{ MEDIA_URL }}empty_bag.png" alt="Empty bag Cat image">
                <table class="table-responsive rounded d-flex justify-content-center">
                    <tr>
                        <td colspan="5" class="text-center">
                            <a href="{% url 'products' %}" class="btn secondary_btn rounded-0 btn-lg mt-5 mb-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span>KEEP SHOPPING</span>
                            </a>
                        </td>
                    </tr>
                </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'js/quantity.js' %}"></script>
<!-- Below script is from the Boutique Ado project -->

    <script type="text/javascript">
        // Update quantity on click
        $('.update-link').click(function(e) {
            const form = $(this).prev('.update-form');
            form.submit();
        })

        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            const csrfToken = "{{ csrf_token }}";
            const itemId = $(this).attr('id').split('remove_')[1];
            const size = $(this).data('product_size');
            const url = `/bag/remove/${itemId}/`;
            const data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        })
    </script>
{% endblock %}
