html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body{
    background: url('/media/hero_img.jpg') no-repeat center center fixed; 
    background-size: cover;
    height: calc(100vh - 164px);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3{
    color: #D8000E;
}

p {
    color: #555555;
}

.primary_btn {
    background: #D8000E;
    color: #fff;
    min-width: 260px;
}

/* CSS Style customised code from: https://mdbootstrap.com/snippets/standard/mdbootstrap/2964350#css-tab-view */
#btn-back-to-top {
    position: fixed;
    bottom: 30px;
    right: 0px;
    display: none;
    color:#C4C4C4;
}

.primary_btn:hover,
.primary_btn:active,
.primary_btn:focus {
    background: #fff;
    color: #D8000E;
}

.icon {
    color: #C4C4C4;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.product-background{
    background: #F9F9F9;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 30px;
    right: 0px;
}

.btt-link,
.primary_btn {
    cursor: pointer;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }

  /* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}