<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'products' %}?category=omega" id="omega-link">
                OMEGA
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'products' %}?category=rolex" id="rolex-link">
                ROLEX
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'products' %}?category=armani" id="armani-link">
                ARMANI
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'products' %}?category=gucci" id="gucci-link">
                GUCCI
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                FIND YOUR WATCH
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">BY PRICE</a>
                <a href="" class="dropdown-item ">BY STYLE</a>
                <a href="" class="dropdown-item ">BY MATERIAL</a>
                <a href="" class="dropdown-item">BY FEATURES</a>
                <a href="{% url 'products' %}" class="dropdown-item">ALL SUGGESTIONS</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link " href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SPECIAL OFFERS
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">NEW ARRIVALS</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">DEALS</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals" class="dropdown-item">ALL SPECIALS</a>
            </div>
        </li>
    </ul>
    <div class="col-12 col-lg-2 my-auto py-1 py-lg-0">
        <form method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <input class="form-control border rounded-0" type="text" name="q" placeholder="Search here">
                <div class="input-group-append">
                    <button class="form-control btn rounded-0" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>