{% extends "base.html" %}
{% load static %}
{% block extra_title %} Blog {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="mb-4 mt-5 text-center">BLOG</h2>
            <hr>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-6">
             <!-- blog posts -->
             <div class="row">
                {% for post in blog %}
                    <div class="col-12 col-md-6 mb-5 card-group">
                        <div class="card">
                            <a href="{% url 'blog_post' post.id %}" class="card-post">
                                {% if post.main_image %}
                                <img class="card-img-top img-fluid" src="{{ post.main_image.url }}" alt="{{ post.title }}">
                                {% else %}
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ post.title }}">
                                {% endif %}
                                <div class="post-info text-center">
                                    <p>{{ post.title }}</p>
                                </div>
                            </a>
                            <!-- edit/delete blog post -->
                            {% if request.user.is_superuser %}
                            <small class="ml-3 text-center">
                                <a href="{% url 'edit_post' post.id %}">Edit</a>
                            </small>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>           
    </div>
</div>
{% endblock %}