{% extends "base.html" %}
{% load static %}
{% block extra_title %} Blog {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container main-container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">

                <!-- post header -->
                <h2 class="text-center my-5">{{ blog.title }}</h2>

                <!-- edit/delete blog post -->
                {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_post' blog.id %}">Edit</a> 
                        <a class="text-danger" href="{% url 'delete_post' blog.id %}">Delete</a>    
                    </small>
                {% endif %}

                <!-- post image -->
                <div class="image-container">
                    {% if blog.main_image %}
                        <img class="img-fluid" src="{{ blog.main_image.url }}" alt="{{ blog.title }}">
                    {% else %}
                        <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ blog.title }}">
                    {% endif %}
                    <hr>
                    <p class="float-end"><small> by {{ blog.author }} · · · {{ blog.date_created }}</small></p>
                    <hr>
                </div>
                <div>
                <!-- post main content -->
                    <p class="mt-5">{{ blog.text }}</p>
                </div>
                <div class="d-flex justify-content-center">
                <!-- back to blog page -->
                <a href="{% url 'blog' %}" class="">	
                    <span class="primary_btn btn btn-lg rounded-0 mt-4">BACK TO BLOG</span>	
                </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}