{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
    <h2 class="mb-4 mt-5 text-center">{% trans "SET PASSWORD" %}</h2>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy}}
        <input type="submit" class="primary_btn btn btn-lg rounded-0 btn-lg" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
