{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <main class="container">
        <div class="row mt-5 mb-5">
            <div class="col-sm-12 col-md-8 offset-md-2 text-center">
                <h1 class="text-center">500!</h1>
                <p class="main-text">Whoops, looks like something went wrong.<br>
                    Click <a class="anchors" href="{% url 'home' %}">here</a> to return to the main site.
                </p>
            </div>
        </div>
    </main>
{% endblock %}
