/*
    Stripe CSS from here: 
    https://stripe.com/docs/stripe-js
*/
    https://stripe.com/docs/stripe-js
.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

hr.order-summary {
    color: #555555;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form {
    color: #555555;
}

.form-control{
    margin: 15px 0px 15px 0px;
}

#adjust-bag-btn {
    background: #fff;
    color: #555;
    border: 1px solid #e2e2e2;
}

#submit-button{
    background: #D8000E;
    color: #fff;
    border: 1px solid #c40d2e;
}

a.text_info{
    color: #c40d2e;
}